### Python ###
*.pyc
__pycache__/
*.egg-info/
*.DS_Store

### Conda ###
# Ignore environment files
.env
.venv
env/
ENV/

### Miscellaneous ###
# Ignore build artifacts
build/
dist/

# Ignore test files
.pytest_cache/
htmlcov/
.tox/
.nox/

# secrets
# creds.yml